{% extends 'base.html.twig' %}

{% block title %}Nouvelle Conversation{% endblock %}

{% block body %}
<div class="max-w-3xl mx-auto">
    <h1 class="text-4xl font-bold text-neon mb-8">
        {{ block('title') }}
    </h1>

    {{ include('conversation/_form.html.twig', {
        'button_label': 'Créer'
    }) }}

    <a href="{{ path('app_conversation_index') }}" class="text-cyan-400 hover:underline mt-6 inline-block">
        <i class="fas fa-arrow-left mr-1"></i>Retour à la liste
    </a>
</div>
{% endblock %}