{% extends 'base.html.twig' %}

{% block title %}Edit NiveauScolaire{% endblock %}

{% block body %}
    <h1>Edit NiveauScolaire</h1>

    {{ include('niveau_scolaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_niveau_scolaire_index') }}">back to list</a>

    {{ include('niveau_scolaire/_delete_form.html.twig') }}
{% endblock %}
